
body {
    background-color: #e9b50c;
    color: white;
    font-family: "Mulish", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #ece034;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}
